<html>
  <body>
 
<table class="tb1">
  <tr>
      <th>sno</th>
      <th>Date</th>
      <th>Agent Sales</th>
      <th>Card Sales</th>
      <th>Total</th>
    </tr>
    <tr *ngFor="let item of itemlist.date_list;let i=index">
      <td>{{i}}</td>
      <td>{{item}}</td>
      <td>{{itemlist[item].icus_total_order}}</td>
      <td>{{itemlist[item].agent_total_order}}</td>
      <td>{{itemlist[item].icus_total_order+itemlist[item].agent_total_order}}</td>
    </tr>
    <tr>
      <td colspan="2">Grand Total</td>
       <td>{{itemlist.total_icustomer_total}}</td>
      <td>{{itemlist.grand_total}}</td>
      <td>{{itemlist.total_agent_total}}</td>
    </tr>
</table>
</body>
</html>
<app-datafromurl></app-datafromurl>